{% extends "webpage/base.html.twig" %}

{% block style_link_tags %}{{ encore_entry_link_tags('slider') }}{% endblock %}
{% block javascript_link_tags %}{{ encore_entry_script_tags('slider') }}{% endblock %}

{% block body %}
    <div id="home" class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container text-center">
            <h1 class="display-1 text-secondary sr-only">{{ front_web_title | capitalize }}</h1>
            <h2 class="display-4 text-secondary mb-0">Asesoría en la compra de vehículos nuevos</h2>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            {#<!-- Horizontal step wrapper -->#}
            <div class="cs-steps row">
                {#<!-- Step -->#}
                <div class="col-md-4">
                    <div class="cs-step mb-md-0 mb-5">
                        <div class="cs-step-head mb-3">
                            <span class="cs-step-indicator" style="width: 6rem; height: 6rem; font-size: 6rem;"><i class="fas fa-gift"></i></span>
                            <span class="cs-step-line"></span>
                        </div>
                        <div class="cs-step-body">
                            <h3 class="h5 mb-2">Pídenos un deseo</h3>
                            <p class="mb-3 text-muted">Contacta con nosotros y experimenta una forma totalmente diferente de comprar tu nuevo vehículo.</p>
                        </div>
                    </div>
                </div>
                {#<!-- Step -->#}
                <div class="col-md-4">
                    <div class="cs-step mb-md-0 mb-5">
                        <div class="cs-step-head mb-3">
                            <span class="cs-step-indicator" style="width: 6rem; height: 6rem; font-size: 6rem;"><i class="fas fa-paperclip"></i></span>
                            <span class="cs-step-line"></span>
                        </div>
                        <div class="cs-step-body">
                            <h3 class="h5 mb-2">Recibe la mejor oferta</h3>
                            <p class="mb-3 text-muted">Basándonos en el coche que nos has pedido, estudiaremos tu solicitud y te ofreceremos el mejor precio posible.</p>
                        </div>
                    </div>
                </div>
                {#<!-- Step -->#}
                <div class="col-md-4">
                    <div class="cs-step">
                        <div class="cs-step-head mb-3">
                            <span class="cs-step-indicator" style="width: 6rem; height: 6rem; font-size: 6rem;"><i class="fas fa-car"></i></span>
                        </div>
                        <div class="cs-step-body">
                            <h3 class="h5 mb-2">Compra directo al concesionario</h3>
                            <p class="mb-3 text-muted">Si te gusta nuestro precio, el <strong>concesionario oficial nacional</strong> se pondrá en contacto contigo directamente.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col col-sm-5 mt-5 text-center">
                    <a id="first_call_to_action_button" class="btn btn-lg btn-translucent-primary" style="white-space: normal !important; word-wrap: break-word !important;"><i class="cxi-like mt-n1 mr-1"></i> Me gusta la idea, contacta conmigo</a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col mt-5">
                    <div class="cs-carousel">
                        <div class="cs-carousel-inner">
                            <div><img src="{{ asset('build/3.jpg') | imagine_filter('600x400') }}" alt="Slider image 3"></div>
                            <div><img src="{{ asset('build/2.jpg') | imagine_filter('600x400') }}" alt="Slider image 2"></div>
                            <div><img src="{{ asset('build/4.jpg') | imagine_filter('600x400') }}" alt="Slider image 4"></div>
                            <div><img src="{{ asset('build/5.jpg') | imagine_filter('600x400') }}" alt="Slider image 5"></div>
                            <div><img src="{{ asset('build/6.jpg') | imagine_filter('600x400') }}" alt="Slider image 6"></div>
                            <div><img src="{{ asset('build/1.jpg') | imagine_filter('600x400') }}" alt="Slider image 1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gestion" class="jumbotron jumbotron-fluid bg-secondary mb-0">
        <div class="container text-center">
            <h1 class="text-primary mb-0">{{ 'front.menu.management' | trans | capitalize }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <div class="mb-sm-0 mb-grid-gutter">
                        <video autoplay="" loop="" muted="" playsinline="" poster="https://ak.picdn.net/shutterstock/videos/27728296/thumb/2.jpg" style="transform: rotate(0deg); width: 100%;">
                            <source src="{{ asset('build/1.mov') }}" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 col-xl-8">
                    <h3 class="text-muted mb-2">Atención personalizada</h3>
                    <p class="lead">{{ front_web_title | capitalize }}, tu <strong>asesor de confianza</strong>, te ayuda en la compra de tu vehículo nuevo. Nuestro objetivo es buscar el coche que mejor se adapte a tus necesidades reales y ofrecerte el mejor precio posible.</p>
                    <p class="lead mb-0">Siempre recibirás un <strong>trato personal y de confianza</strong>, nos encargaremos de analizar tu petición y buscar entre los miles de marcas y modelos existentes en el mercado actual. Una tarea que requiere mucho tiempo, experiencia y un buen criterio para escoger tu mejor solución.</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <hr class="hr-gradient">
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-6 col-lg-7 col-xl-8">
                    <h3 class="text-muted mb-2">Punto de entrega personalizable</h3>
                    <p class="lead">¿Quieres recibir el vehículo nuevo en tu domicilio particular o en un punto de entrega especial? Podemos convertir la entrega de tu nueva compra en un <strong>evento muy especial</strong> para ti y tus seres más queridos.</p>
                    <p class="lead">¿Suena bien? Contacta con nosotros y te lo explicamos con más detalle.</p>
                    <a id="second_call_to_action_button" class="btn btn-lg btn-translucent-primary" style="white-space: normal !important; word-wrap: break-word !important;"><i class="cxi-map-pin-outline mt-n1 mr-1"></i> Explícame cómo hacer de la entrega un regalo muy especial</a>
                </div>
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <video class="mt-3 mt-md-0" autoplay="" loop="" muted="" playsinline="" poster="https://ak.picdn.net/shutterstock/videos/1016302870/thumb/1.jpg" style="transform: rotate(0deg); width: 100%;">
                        <source src="{{ asset('build/2.mov') }}" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <hr class="hr-gradient">
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <div class="mb-sm-0 mb-grid-gutter">
                        <video autoplay="" loop="" playsinline="" poster="https://ak.picdn.net/shutterstock/videos/1055094365/thumb/6.jpg" style="transform: rotate(0deg); width: 100%;">
                            <source src="{{ asset('build/3.mov') }}" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 col-xl-8">
                    <h3 class="text-muted mb-2">Ahorra tiempo y dinero</h3>
                    <p class="lead">Nuestra visión acerca de las soluciones que ofrecen los vehículos es global y no depende de ninguna marca, aunque si lo prefieres nos centraremos solamente en tu marca preferida.</p>
                    <p class="lead">La venta del vehículo siempre se realizará directamente a través de un concesionario oficial nacional de la marca finalmente escogida y con el <strong>mejor precio del mercado</strong>.</p>
                    <p class="lead mb-0"><strong>No cobramos comisiones al cliente</strong>, el coste de nuestro servicio está incluido en el precio final que pagarás al concesionario oficial. Además podrás financiar la compra con el concesionario, tu banco de confianza, o si lo prefieres, <strong>nos encargamos de buscar la financiación por ti</strong>.</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <hr class="hr-gradient">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <div class="alert alert-primary mb-0" role="alert">
                        <h4 class="mb-0 alert-heading text-center"><i class="cxi-alert"></i></h4>
                        <p class="pt-3 mb-3">¿Tienes un <strong>coche a cambio</strong>? El concesionario te ofrecerá un buen precio o estudiaremos otras alternativas adecuadas para ti.</p>
                        <hr>
                        <p class="pt-3 mb-0">Todos los precios son aplicables <strong>también a las empresas</strong>. Trabajamos para particulares, autónomos y negocios.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="equipo" class="jumbotron jumbotron-fluid bg-primary mb-0">
        <div class="container text-center">
            <h1 class="text-secondary mb-0">{{ 'front.menu.team' | trans | capitalize }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="lead mb-0">Nuestra empresa está formada por un gran equipo de profesionales apasionados por el mundo del motor y la automoción. Combinamos nuestra dilatada <strong>experiencia con una visión innovadora</strong> y joven, adaptada a las nuevas tecnologías y poniendo a nuestros clientes en el centro de todos nuestros esfuerzos por conseguir un servicio excelente.</p>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-xl-3 col-sm-4">
                    <div class="text-center mb-sm-0 mb-grid-gutter"><img src="{{ asset('build/icon_emoji_happy.svg') }}" alt="emoji happy icon" width="88">
                        <h3 class="h5 mb-0 pt-0 text-primary" style="font-size: 2.875rem">100%</h3>
                        <p class="mb-0 font-size-sm text-dark">Satisfacción garantizada</p>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-4">
                    <div class="text-center mb-sm-0 mb-grid-gutter"><img src="{{ asset('build/icon_key.svg') }}" alt="key icon" width="88">
                        <h3 class="h5 mb-0 pt-0 text-primary" style="font-size: 2.875rem">+2.100</h3>
                        <p class="mb-0 font-size-sm text-dark">Coches analizados</p>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-4">
                    <div class="text-center"><img src="{{ asset('build/icon_heart.svg') }}" alt="heart icon" width="88">
                        <h3 class="h5 mb-0 pt-0 text-primary" style="font-size: 2.875rem">135%</h3>
                        <p class="mb-0 font-size-sm text-dark">Automóvil-pasión</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contacto" class="jumbotron jumbotron-fluid bg-secondary mb-0">
        <div class="container text-center">
            <h1 class="text-primary mb-0">Contacto</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card bg-secondary">
                        <img class="card-img-top" src="{{ asset('build/image_contact.jpg') }}" alt="contact image">
                        <div class="card-body">
                            <h3 class="h4 mb-2">{{ front_web_title | capitalize }}</h3>
                            <ul class="mb-0 list-unstyled nav-dark">
                                <li class="mb-2 pb-1">
                                    <a class="d-flex nav-link font-weight-normal p-0" href="tel:+34{{ front_web_phone | replace({' ': ''}) }}">
                                        <i class="cxi-iphone mt-1 mr-2 pr-1 lead text-primary"></i>
                                        {{ front_web_phone }}
                                    </a>
                                </li>
                                <li class="mb-2 pb-1">
                                    <a class="d-flex nav-link font-weight-normal p-0" href="mailto:{{ mailer_destination }}">
                                        <i class="cxi-mail mt-1 mr-2 pr-1 lead text-primary"></i>
                                        {{ mailer_destination }}
                                    </a>
                                </li>
                                <li class="mt-2">
                                    <a style="width:3rem;height:3rem;font-size:2rem;" class="social-btn sb-solid mr-2 mt-2" href="https://www.facebook.com/carsadvisor.es" target="_blank"><i class="cxi-facebook"></i></a>
                                    <a style="width:3rem;height:3rem;font-size:2rem;" class="social-btn sb-solid mr-2 mt-2" href="https://www.instagram.com/cars.advisor" target="_blank"><i class="cxi-instagram"></i></a>
                                    <a style="width:3rem;height:3rem;font-size:2rem;" class="social-btn sb-solid mt-2" href="https://wa.me/34{{ front_web_phone | replace({' ': ''}) }}?text=He+visto+su+web+{{ front_base_url }}+y+me+gustar%C3%ADa+que+contactara+conmigo+para+recibir+m%C3%A1s+informaci%C3%B3n+sobre+sus+servicios."><i class="cxi-whatsapp"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
