{% extends "webpage/base.html.twig" %}

{% block body %}
    <div id="home" class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container text-center">
            <h1 class="display-1 text-secondary sr-only">{{ front_web_title | capitalize }}</h1>
            <h2 class="display-4 text-secondary mb-0">Asesoría en la compra de vehículos nuevos</h2>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            {#<!-- Horizontal step wrapper -->#}
            <div class="cs-steps row">
                {#<!-- Step -->#}
                <div class="col-md-4">
                    <div class="cs-step mb-md-0 mb-5">
                        <div class="cs-step-head mb-3">
                            <span class="cs-step-indicator" style="width: 6rem; height: 6rem; font-size: 6rem;"><i class="fas fa-gift"></i></span>
                            <span class="cs-step-line"></span>
                        </div>
                        <div class="cs-step-body">
                            <h3 class="h5 mb-2">Pídenos un deseo</h3>
                            <p class="mb-3 text-muted">Contacta con nosotros y experimenta una forma totalmente diferente de comprar tu nuevo vehículo.</p>
                        </div>
                    </div>
                </div>
                {#<!-- Step -->#}
                <div class="col-md-4">
                    <div class="cs-step mb-md-0 mb-5">
                        <div class="cs-step-head mb-3">
                            <span class="cs-step-indicator" style="width: 6rem; height: 6rem; font-size: 6rem;"><i class="fas fa-paperclip"></i></span>
                            <span class="cs-step-line"></span>
                        </div>
                        <div class="cs-step-body">
                            <h3 class="h5 mb-2">Recibe la mejor oferta</h3>
                            <p class="mb-3 text-muted">En base al coche que nos has pedido, estudiaremos tu caso y te ofreceremos el mejor precio posible.</p>
                        </div>
                    </div>
                </div>
                {#<!-- Step -->#}
                <div class="col-md-4">
                    <div class="cs-step">
                        <div class="cs-step-head mb-3">
                            <span class="cs-step-indicator" style="width: 6rem; height: 6rem; font-size: 6rem;"><i class="fas fa-car"></i></span>
                        </div>
                        <div class="cs-step-body">
                            <h3 class="h5 mb-2">Compra directo al concesionario</h3>
                            <p class="mb-3 text-muted">Si te gusta nuestro precio, el <strong>concesionario oficial nacional</strong> se pondrá en contacto directamente contigo.</p>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="row">#}
{#                <div class="col mt-5">#}
{#                    <p class="lead mb-0">{{ generate_lorem_ipsum_by_paragraphs(1) }}</p>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col mt-5">
                    <div class="cs-carousel">
                        <div class="cs-carousel-inner">
{#                            <div><img src="{{ asset('build/01.jpeg') | imagine_filter('600x400') }}" alt="Slider image 01"></div>#}
                            <div><img src="{{ asset('build/02.jpeg') | imagine_filter('600x400') }}" alt="Slider image 02"></div>
                            <div><img src="{{ asset('build/03.jpeg') | imagine_filter('600x400') }}" alt="Slider image 03"></div>
                            <div><img src="{{ asset('build/04.jpeg') | imagine_filter('600x400') }}" alt="Slider image 04"></div>
                            <div><img src="{{ asset('build/05.jpeg') | imagine_filter('600x400') }}" alt="Slider image 05"></div>
                            <div><img src="{{ asset('build/06.jpeg') | imagine_filter('600x400') }}" alt="Slider image 06"></div>
                            <div><img src="{{ asset('build/07.jpeg') | imagine_filter('600x400') }}" alt="Slider image 07"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gestion" class="jumbotron jumbotron-fluid bg-secondary mb-0">
        <div class="container text-center">
            <h1 class="text-primary mb-0">{{ 'front.menu.management' | trans | capitalize }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="mb-sm-0 mb-grid-gutter">
                        <video autoplay="" loop="" muted="" playsinline="" poster="https://ak.picdn.net/shutterstock/videos/27728296/thumb/2.jpg" style="transform: rotate(0deg); width: 100%;"><source src="https://ak.picdn.net/shutterstock/videos/27728296/preview/stock-footage-happy-young-woman-leans-out-passenger-side-car-window-she-looks-in-wonder-and-awe-at-all-the.webm" type="video/webm"><source src="https://ak.picdn.net/shutterstock/videos/27728296/preview/stock-footage-happy-young-woman-leans-out-passenger-side-car-window-she-looks-in-wonder-and-awe-at-all-the.mp4" type="video/mp4"></video>
                        <h3 class="h5 mb-2">Atención personalizada</h3>
{#                        <p class="mb-0 text-muted">Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris.</p>#}
                    </div>
                </div>
                <span class="divider-vertical d-sm-block d-none"></span>
                <div class="col-sm-4">
                    <div class="mb-sm-0 mb-grid-gutter">
                        <video autoplay="" loop="" muted="" playsinline="" poster="https://ak.picdn.net/shutterstock/videos/1016302870/thumb/1.jpg" style="transform: rotate(0deg); width: 100%;"><source src="https://ak.picdn.net/shutterstock/videos/1016302870/preview/stock-footage-aerial-top-down-dark-colored-car-driving-down-an-asphalt-road-crossing-the-vast-forest-on-a-sunny.webm" type="video/webm"><source src="https://ak.picdn.net/shutterstock/videos/1016302870/preview/stock-footage-aerial-top-down-dark-colored-car-driving-down-an-asphalt-road-crossing-the-vast-forest-on-a-sunny.mp4" type="video/mp4"></video>
                        <h3 class="h5 mb-2">Punto de entrega personalizable</h3>
{#                        <p class="mb-0 text-muted">Culpa nostrud commodo ea consequat reprehenderit aliquip. </p>#}
                    </div>
                </div>
                <span class="divider-vertical d-sm-block d-none"></span>
                <div class="col-sm-4">
                    <div class="text-left">
                        <video autoplay="" loop="" playsinline="" poster="https://ak.picdn.net/shutterstock/videos/1055094365/thumb/6.jpg" style="transform: rotate(0deg); width: 100%;"><source src="https://ak.picdn.net/shutterstock/videos/1055094365/preview/stock-footage-a-shot-under-the-hatch-where-the-electric-eco-car-charges.webm" type="video/webm"><source src="https://ak.picdn.net/shutterstock/videos/1055094365/preview/stock-footage-a-shot-under-the-hatch-where-the-electric-eco-car-charges.mp4" type="video/mp4"></video>
                        <h3 class="h5 mb-2">Ahorra tiempo y dinero</h3>
{#                        <p class="mb-0 text-muted">Viverra scelerisque consequat net. Adipisicing esse consequat. </p>#}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-5 mb-5">
                    <p class="lead">{{ front_web_title | capitalize }} es tu <strong>asesor de confianza</strong> para ayudarte en la compra de un vehículo nuevo. Nuestro objetivo es buscar el coche que mejor se adapte a tus necesidades reales y ofrecerte el mejor precio posible.</p>
                    <p class="lead">Siempre recibirás un <strong>trato personal de confianza</strong> que se encargará de analizar tu petición y buscar entre los miles de marcas y modelos existentes en el mercado actual. Una tarea que requiere mucho tiempo, experiencia y un buen criterio para escoger tu mejor solución.</p>
                    <p class="lead">Nuestra visión acerca de las soluciones que ofrecen los vehículos es global y no depende de ninguna marca, aunque si lo prefieres nos centraremos solamente en tu marca preferida.</p>
                    <p class="lead mb-0">¿Todavía quieres más? ¿Quieres recibir tu coche nuevo en tu domicilio particular o en un punto de entrega especial? Podemos convertir la entrega de tu nueva compra en una <strong>experiencia muy especial</strong> ¿Suena bién? Contacta con nosostros y te lo explicamos con más detalles.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-3 col-sm-4">
                    <div class="text-center mb-sm-0 mb-grid-gutter"><img src="{{ asset('build/icon_emoji_happy.svg') }}" alt="emoji happy icon" width="88">
                        <h3 class="h5 mb-0 pt-0 text-primary" style="font-size: 2.875rem">100%</h3>
                        <p class="mb-0 font-size-sm text-dark">Clientes satisfechos</p>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-4">
                    <div class="text-center mb-sm-0 mb-grid-gutter"><img src="{{ asset('build/icon_key.svg') }}" alt="key icon" width="88">
                        <h3 class="h5 mb-0 pt-0 text-primary" style="font-size: 2.875rem">2.400+</h3>
                        <p class="mb-0 font-size-sm text-dark">Coches renovados</p>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-4">
                    <div class="text-center"><img class="mb-3" src="{{ asset('build/06.svg') }}" alt="Icon box image" width="48">
                        <h3 class="h5 mb-2 pt-1 text-primary" style="font-size: 2.875rem">670</h3>
                        <p class="mb-0 font-size-sm text-dark">Qualified specialists</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="equipo" class="jumbotron jumbotron-fluid bg-primary mb-0">
        <div class="container text-center">
            <h1 class="text-secondary mb-0">{{ 'front.menu.team' | trans | capitalize }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="card card-horizontal">
                        <div class="card-img-top" style="background-image: url('{{ asset('build/01.jpg') }}');"></div>
                        <div class="card-body">
                            <h5 class="card-title">Johnny Lane</h5>
                            <h6 class="card-subtitle text-muted">Director of Client Services</h6>
                            <p class="card-text font-size-sm">{{ generate_lorem_ipsum_by_words(6) }}.</p>
                            <ul class="list-unstyled mb-3 pb-1">
                                <li class="nav-dark">
                                    <a class="nav-link p-0 font-weight-normal" href="tel:(0034){{ front_web_phone }}">
                                        <i class="cxi-iphone mr-1"></i> {{ front_web_phone }}
                                    </a>
                                </li>
                                <li class="nav-dark mb-0">
                                    <a class="nav-link p-0 font-weight-normal" href="mailto:{{ mailer_destination }}">
                                        <i class="cxi-mail align-middle mr-1"></i> {{ mailer_destination }}
                                    </a>
                                </li>
                            </ul>
                            <a class="social-btn mr-2" href="#">
                                <i class="cxi-facebook"></i>
                            </a>
                            <a class="social-btn mr-2" href="#">
                                <i class="cxi-twitter"></i>
                            </a>
                            <a class="social-btn mr-2" href="#">
                                <i class="cxi-linkedin"></i>
                            </a>
                            <a class="social-btn" href="#">
                                <i class="cxi-google"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-5">
                    <p class="lead mb-0">{{ generate_lorem_ipsum_by_paragraphs(1) }}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="contacto" class="jumbotron jumbotron-fluid bg-secondary mb-0">
        <div class="container text-center">
            <h1 class="text-primary mb-0">Contacto</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-img-top overflow-hidden">
                            <iframe width="600" height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d985265.6834686119!2d-73.53312098675273!3d41.40372595831977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e8483b8bffed93%3A0x53467ceb834b7397!2s396%20Lillian%20Blvd%2C%20Holbrook%2C%20NY%2011741%2C%20USA!5e0!3m2!1sen!2sua!4v1569318858921!5m2!1sen!2sua"></iframe>
                        </div>
                        <div class="card-body">
                            <h3 class="h4">{{ front_web_title | capitalize }}</h3>
                            <ul class="mb-0 list-unstyled nav-dark">
                                <li class="mb-2 pb-1">
                                    <a class="d-flex nav-link font-weight-normal p-0" href="tel:(0034){{ front_web_phone }}">
                                        <i class="cxi-iphone mt-1 mr-2 pr-1 lead text-primary"></i>
                                        {{ front_web_phone }}
                                    </a>
                                </li>
                                <li class="mb-2 pb-1">
                                    <a class="d-flex nav-link font-weight-normal p-0" href="mailto:{{ mailer_destination }}">
                                        <i class="cxi-mail mt-1 mr-2 pr-1 lead text-primary"></i>
                                        {{ mailer_destination }}
                                    </a>
                                </li>
                                <li class="mb-2 pb-1">
                                    <a class="d-flex nav-link font-weight-normal p-0" href="#">
                                        <i class="cxi-clock mt-1 mr-2 pr-1 lead text-primary"></i>
                                        Daily from 9 am to 9 pm
                                    </a>
                                </li>
                                <li class="mb-2 pb-1">
                                    <a class="d-flex nav-link font-weight-normal p-0" href="#">
                                        <i class="cxi-map-pin-outline mt-1 mr-2 pr-1 lead text-primary"></i>
                                        8502 Preston Rd. Inglewood, NY 98380
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
