{% extends "webpage/base.html.twig" %}

{% block body %}
    <div id="home" class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container text-center">
            <h1 class="display-1 text-secondary sr-only">{{ front_web_title | capitalize }}</h1>
            <h2 class="display-4 text-secondary mb-0">Asesoría en la compra de vehículos nuevos</h2>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            {#<!-- Horizontal step wrapper -->#}
            <div class="cs-steps row">
                {#<!-- Step -->#}
                <div class="col-md-4">
                    <div class="cs-step mb-md-0 mb-5">
                        <div class="cs-step-head mb-3">
                            <span class="cs-step-indicator"><i class="fas fa-gift"></i></span>
                            <span class="cs-step-line"></span>
                        </div>
                        <div class="cs-step-body">
                            <h3 class="h5 mb-2">Pídenos un deseo</h3>
                            <p class="mb-3 text-muted">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</p>
                        </div>
                    </div>
                </div>
                {#<!-- Step -->#}
                <div class="col-md-4">
                    <div class="cs-step mb-md-0 mb-5">
                        <div class="cs-step-head mb-3">
                            <span class="cs-step-indicator"><i class="fas fa-paperclip"></i></span>
                            <span class="cs-step-line"></span>
                        </div>
                        <div class="cs-step-body">
                            <h3 class="h5 mb-2">Recibe la mejor oferta</h3>
                            <p class="mb-3 text-muted">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim ad tempor est ea.</p>
                        </div>
                    </div>
                </div>
                {#<!-- Step -->#}
                <div class="col-md-4">
                    <div class="cs-step">
                        <div class="cs-step-head mb-3">
                            <span class="cs-step-indicator"><i class="fas fa-car"></i></span>
                        </div>
                        <div class="cs-step-body">
                            <h3 class="h5 mb-2">Compra directo al concesionario</h3>
                            <p class="mb-3 text-muted">Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-5">
                    <p class="lead mb-0">{{ generate_lorem_ipsum_by_paragraphs(1) }}</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col mt-5">
                    <!-- All controls inside: Dots + Arrows -->
                    <div class="cs-carousel">
                        <div class="cs-carousel-inner">
                            <div><img src="{{ asset('build/01.jpeg') | imagine_filter('600x400') }}" alt="Slider image"></div>
                            <div><img src="{{ asset('build/02.jpeg') | imagine_filter('600x400') }}" alt="Slider image"></div>
                            <div><img src="{{ asset('build/03.jpeg') | imagine_filter('600x400') }}" alt="Slider image"></div>
                            <div><img src="{{ asset('build/04.jpeg') | imagine_filter('600x400') }}" alt="Slider image"></div>
                            <div><img src="{{ asset('build/05.jpeg') | imagine_filter('600x400') }}" alt="Slider image"></div>
                            <div><img src="{{ asset('build/06.jpeg') | imagine_filter('600x400') }}" alt="Slider image"></div>
                            <div><img src="{{ asset('build/07.jpeg') | imagine_filter('600x400') }}" alt="Slider image"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gestion" class="jumbotron jumbotron-fluid bg-secondary mb-0">
        <div class="container text-center">
            <h1 class="text-primary mb-0">{{ 'front.menu.management' | trans | capitalize }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="mb-sm-0 mb-grid-gutter">
                        <video autoplay="" loop="" muted="" playsinline="" poster="https://ak.picdn.net/shutterstock/videos/27728296/thumb/2.jpg" style="transform: rotate(0deg); width: 100%;"><source src="https://ak.picdn.net/shutterstock/videos/27728296/preview/stock-footage-happy-young-woman-leans-out-passenger-side-car-window-she-looks-in-wonder-and-awe-at-all-the.webm" type="video/webm"><source src="https://ak.picdn.net/shutterstock/videos/27728296/preview/stock-footage-happy-young-woman-leans-out-passenger-side-car-window-she-looks-in-wonder-and-awe-at-all-the.mp4" type="video/mp4"></video>
                        <h3 class="h5 mb-2">Atención personalizada</h3>
                        <p class="mb-0 text-muted">Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris.</p>
                    </div>
                </div>
                <span class="divider-vertical d-sm-block d-none"></span>
                <div class="col-sm-4">
                    <div class="mb-sm-0 mb-grid-gutter">
                        <video autoplay="" loop="" muted="" playsinline="" poster="https://ak.picdn.net/shutterstock/videos/1016302870/thumb/1.jpg" style="transform: rotate(0deg); width: 100%;"><source src="https://ak.picdn.net/shutterstock/videos/1016302870/preview/stock-footage-aerial-top-down-dark-colored-car-driving-down-an-asphalt-road-crossing-the-vast-forest-on-a-sunny.webm" type="video/webm"><source src="https://ak.picdn.net/shutterstock/videos/1016302870/preview/stock-footage-aerial-top-down-dark-colored-car-driving-down-an-asphalt-road-crossing-the-vast-forest-on-a-sunny.mp4" type="video/mp4"></video>
                        <h3 class="h5 mb-2">Ahorra tiempo</h3>
                        <p class="mb-0 text-muted">Culpa nostrud commodo ea consequat reprehenderit aliquip. </p>
                    </div>
                </div>
                <span class="divider-vertical d-sm-block d-none"></span>
                <div class="col-sm-4">
                    <div class="text-left">
                        <video autoplay="" loop="" playsinline="" poster="https://ak.picdn.net/shutterstock/videos/1055094365/thumb/6.jpg" style="transform: rotate(0deg); width: 100%;"><source src="https://ak.picdn.net/shutterstock/videos/1055094365/preview/stock-footage-a-shot-under-the-hatch-where-the-electric-eco-car-charges.webm" type="video/webm"><source src="https://ak.picdn.net/shutterstock/videos/1055094365/preview/stock-footage-a-shot-under-the-hatch-where-the-electric-eco-car-charges.mp4" type="video/mp4"></video>
                        <h3 class="h5 mb-2">Ahorra dinero</h3>
                        <p class="mb-0 text-muted">Viverra scelerisque consequat net. Adipisicing esse consequat. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-5">
                    <p class="lead mb-0">{{ generate_lorem_ipsum_by_paragraphs(1) }}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="equipo" class="jumbotron jumbotron-fluid bg-primary mb-0">
        <div class="container text-center">
            <h1 class="text-secondary mb-0">{{ 'front.menu.team' | trans | capitalize }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="card card-horizontal">
                        <div class="card-img-top" style="background-image: url('{{ asset('build/01.jpg') }}');"></div>
                        <div class="card-body">
                            <h5 class="card-title">Johnny Lane</h5>
                            <h6 class="card-subtitle text-muted">Director of Client Services</h6>
                            <p class="card-text font-size-sm">{{ generate_lorem_ipsum_by_words(6) }}.</p>
                            <ul class="list-unstyled mb-3 pb-1">
                                <li class="nav-dark">
                                    <a class="nav-link p-0 font-weight-normal" href="tel:(0034){{ front_web_phone }}">
                                        <i class="fas fa-phone-square mr-2"></i>
                                        {{ front_web_phone }}
                                    </a>
                                </li>
                                <li class="nav-dark mb-0">
                                    <a class="nav-link p-0 font-weight-normal" href="mailto:{{ mailer_destination }}">
                                        <i class="cxi-mail align-middle mr-2"></i>
                                        {{ mailer_destination }}
                                    </a>
                                </li>
                            </ul>
                            <a class="social-btn mr-2" href="#">
                                <i class="cxi-facebook"></i>
                            </a>
                            <a class="social-btn mr-2" href="#">
                                <i class="cxi-twitter"></i>
                            </a>
                            <a class="social-btn mr-2" href="#">
                                <i class="cxi-linkedin"></i>
                            </a>
                            <a class="social-btn" href="#">
                                <i class="cxi-google"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-5">
                    <p class="lead mb-0">{{ generate_lorem_ipsum_by_paragraphs(1) }}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="contacto" class="jumbotron jumbotron-fluid bg-secondary mb-0">
        <div class="container text-center">
            <h1 class="text-primary mb-0">Contacto</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-img-top overflow-hidden">
                            <iframe width="600" height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d985265.6834686119!2d-73.53312098675273!3d41.40372595831977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e8483b8bffed93%3A0x53467ceb834b7397!2s396%20Lillian%20Blvd%2C%20Holbrook%2C%20NY%2011741%2C%20USA!5e0!3m2!1sen!2sua!4v1569318858921!5m2!1sen!2sua"></iframe>
                        </div>
                        <div class="card-body">
                            <h3 class="h4">{{ front_web_title | capitalize }}</h3>
                            <ul class="mb-0 list-unstyled nav-dark">
                                <li class="mb-2 pb-1">
                                    <a class="d-flex nav-link font-weight-normal p-0" href="tel:(0034){{ front_web_phone }}">
                                        <i class="cxi-iphone mt-1 mr-2 pr-1 lead text-primary"></i>
                                        {{ front_web_phone }}
                                    </a>
                                </li>
                                <li class="mb-2 pb-1">
                                    <a class="d-flex nav-link font-weight-normal p-0" href="mailto:{{ mailer_destination }}">
                                        <i class="cxi-mail mt-1 mr-2 pr-1 lead text-primary"></i>
                                        {{ mailer_destination }}
                                    </a>
                                </li>
                                <li class="mb-2 pb-1">
                                    <a class="d-flex nav-link font-weight-normal p-0" href="#">
                                        <i class="cxi-clock mt-1 mr-2 pr-1 lead text-primary"></i>
                                        Daily from 9 am to 9 pm
                                    </a>
                                </li>
                                <li class="mb-2 pb-1">
                                    <a class="d-flex nav-link font-weight-normal p-0" href="#">
                                        <i class="cxi-map-pin-outline mt-1 mr-2 pr-1 lead text-primary"></i>
                                        8502 Preston Rd. Inglewood, NY 98380
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    {{ form(form) }}
{#                    {{ form_start(form) }}#}
{#                    {{ form_row(form.name) }}#}
{#                    {{ form_row(form.email) }}#}
{#                    {{ form_row(form.message) }}#}
{#                    <div class="custom-control custom-checkbox">#}
{#                        <input class="custom-control-input" type="checkbox" id="ex-check-2" checked>#}
{#                        {{ form_error(form.privacyPolicyAgreementAccepted) }}#}
{#                        {{ form_widget(form.privacyPolicyAgreementAccepted) }}#}
{#                        <label class="custom-control-label" for="ex-check-2">Uncheck <a href="{{ path('app_front_privacy_policy') }}" target="_blank">this</a> checkbox</label>#}
{#                    </div>#}
{#                    {{ form_rest(form) }}#}
{#                    {{ form_end(form) }}#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
